{% extends 'base.html.twig' %}

{% block title %}Hello RegistrationController!{% endblock %}

{% block body %}
   <div>
   <span><a href="{{path('app_login')}}">Already Registered? Login Here</a></span>
   </div>

   <div>{{ form(form) }}</div>
   <span><a href="{{path('app_home')}}"><button type="submit">skip for now</button></a></span>
   
{% endblock %}
